body {
  font-family: "hiragino kaku gothic pro", meiryo, sans-serif;
}

#mainForm {
  max-width: 60rem;
}

.swal-button {
  padding-top: 0px;
  padding-bottom: 0px;
}

.button-arrow {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 1px;
}
