{
  "presets": [
    [
      "@babel/env",
      {
        "targets": ["last 5 chrome version", "last 5 firefox version"]
      }
    ],
    ["@babel/react"],
    ["@babel/typescript"]
  ],
  "plugins": []
}
