{
  "extends": ["eslint:recommended"],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false,
    "ecmaVersion": 2017
  },
  "globals": {
    "chrome": true,
    "Promise": true
  },
  "rules": {
    "no-console": 0,
    "max-len": [2, { "code": 200, "tabWidth": 2, "ignoreUrls": true }]
  }
}
