{
  "extends": ["eslint:recommended"],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "globals": {
    "chrome": true,
    "Promise": true
  },
  "rules": {
    "no-console": 1
  }
}
