name: Build for Firefox

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x, 16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Packages
        run: npm install
      - name: Build
        run: npm run release-firefox
      - name: Upload Build as Artifact
        uses: actions/upload-artifact@v1
        with:
          name: dist-firefox
          path: dist-firefox
